<!-- Playbook Main Homepage -->
{% include 'components/_head.html' %}

<body>
    {% include 'navigation/_navigation.html' %}
    <div class="_page">
        <div class="_page--content">
            <!-- DESCRIPTION -->
            <div class="section splash dark">
                <div class="section-child">
                    <p class="the-playbook">The Playbook</p>
                    <p>The Playbook is your starting point for anything related to the definition, design, development, and support of Watson and Cloud Platform products. Our Core Practices help us work together as a unified team. The <a href="">Guild Guides</a> below provide resources for each discipline.</p>
                </div>
            </div>
            <a name=agile-best-practices></a>
            <!-- CARDS! -->
            <div class="section">
                <div class="section-child">
                    <p class="subtitle">Best Practices</p>
                    <div class="paragraphtitle">The Big Picture</div>
                    <div class="card-container">
                        <a href="connections/community/" target="_blank" class="card">
                            <img src="images/homepage/who-we-are.svg">
                            <p class="card-header">Who We Are</p>
                            <p>Changing the world through Science, Simplicity, and Scale.
                                <br>(Private Connections Community)</p>
                        </a>
                        <a href="aha/" class="card">
                            <img src="images/homepage/map-128.svg">
                            <p class="card-header">Our Roadmap</p>
                            <p>We use <strong>Aha!</strong> to develop our Roadmaps and align our organizations around our missions.</p>
                        </a>
                        <a href="connections/blog/" target="_blank" class="card">
                            <img src="images/homepage/blog-128.png">
                            <p class="card-header">Our Blog</p>
                            <p>Watson and Cloud Platform Organization-wide Blog.
                                <br>(Private Connections Blog)</p>
                        </a>
                    </div>
                    <a name=agile></a>
                    <div class="paragraphtitle" style="margin-top: .2em;">Getting Organized</div>
                    <a name=agile></a>
                    <div class="card-container">
                        <a href="agile/introduction-to-agile/team-structure/" class="card">
                            <img src="images/homepage/organize-into-squads.png">
                            <p class="card-header">People and Teams</p>
                            <p>Organize around small groups of talented people that can own a mission from thought to production.</p>
                        </a>
                        <a href="agile/introduction-to-agile/team-ceremonies" class="card">
                            <img src="images/homepage/tribe.png">
                            <p class="card-header">How we Work</p>
                            <p>Organize your days and weeks around our core Agile Ceremonies so you can reduce meeting overload.</p>
                        </a>
                        <a href="planning-and-tracking-work/getting-organized" class="card">
                            <img src="images/homepage/tools-bw.png">
                            <p class="card-header">Planning & Tracking Tools</p>
                            <p>Organize how you use your Planning & Tracking tools so you can align with the broader organization.</p>
                        </a>
                    </div>
                    <div class="paragraphtitle" style="margin-top: .2em;">Getting Things Done</div>
                    <a name=agile></a>
                    <div class="card-container">
                        <a href="agile/introduction-to-agile/team-ceremonies/#daily-standups" class="card">
                            <img src="images/homepage/daily-standups.png">
                            <p class="card-header">Daily Standups</p>
                            <p>Every morning, spend 15 minutes with your Squad to align and break bottlenecks.</p>
                        </a>
                        <a href="agile/ongoing-delivery/working-in-sprints/" class="card">
                            <img src="images/homepage/operate-in-sprints.png">
                            <p class="card-header">Working in Sprints</p>
                            <p>To allow our teams to welcome changing requirements, we rely on short iterations called Sprints.</p>
                        </a>
                        <a href="agile/ongoing-delivery/create-tracker-repo/" class="card">
                            <img src="images/homepage/create-your-tracker.png">
                            <p class="card-header">Create your Tracker</p>
                            <p>To help align your Tribe, follow the conventions for organizing your work.</p>
                        </a>
                        <a href="agile/ongoing-delivery/hills-epics-stories-usecases/" class="card">
                            <img src="images/homepage/hills-epics-stories.png">
                            <p class="card-header">Hills, Epics, and Stories</p>
                            <p>To stay focused and act efficiently, we organize our work in a backlog of stories, epics, and hills.</p>
                        </a>
                        <a href="agile/ongoing-delivery/squads-estimate-story-points/" class="card">
                            <img src="images/homepage/estimate-storypoints.png">
                            <p class="card-header">Estimate with Story Points</p>
                            <p>To help everyone understand what is achievable, we use simple estimates called Story Points.</p>
                        </a>
                        <a href="agile/ongoing-delivery/refine-the-backlog/" class="card">
                            <img src="images/homepage/refine-your-backlog.png">
                            <p class="card-header">Refine your Backlog</p>
                            <p>Continuous refinement of the backlog ensures that future work is being defined in a timely manner.</p>
                        </a>
                        <a href="agile/introduction-to-agile/team-ceremonies/#playback" class="card">
                            <img src="images/homepage/end-of-sprint-playback.png">
                            <p class="card-header">End of Sprint Playback</p>
                            <p>Come together as a broader team and share what has been done so everyone is on the same page.</p>
                        </a>
                        <a href="agile/ongoing-delivery/schedule-retrospective/" class="card">
                            <img src="images/homepage/retrospective.png">
                            <p class="card-header">Retrospectives</p>
                            <p>The team reflects on how to become more effective, then tunes and adjusts its behavior accordingly.</p>
                        </a>
                        <a href="celebrate/" class="card">
                            <img src="images/homepage/celebrate-with-your-team.png">
                            <p class="card-header">Celebrate with your Squad</p>
                            <p>Reflect and celebrate the shared successes with your Squad and Tribe.</p>
                        </a>
                    </div>
                </div>
            </div>
            <!--- GUILD GUIDES -->
            <a name=guild-guides></a>
            <div class="section dark">
                <div class="section-child">
                    <div class="layout-column-container">
                        <!--- Column 1 Engineering -->
                        <a name=engineering-guild-guide></a>
                        <div class="layout-column-child">
                            <div class="subtitle" style="color:white;">Engineering Guild</div>
                            <p class="paragraphtitle">Watson Platform Guide</p>
                            <ul>
                                <li><a href="developer-guide/k8s/">Kubernetes</a></li>
                                <li><a href="https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/W1e6642eaf1d6_456e_9c1f_1b95e4d3bbc0/page/Transitioning%20a%20WDC%20Service%20from%20VMs%20to%20Docker%2C%20Mesos%2C%20and%20Marathon%20%28e2e%20process%29">Deploying with Docker containers</a></li>
                                <li><a href="https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/W3c6a35d8589e_4f9d_8510_fba9f861c0db/page/Development%20Guidelines%20for%20Cloud%20Services">Services development guidelines</a></li>
                                <li><a href="https://whitewater.ibm.com/patterns/code-review-with-github-enterprise">Code Review with GitHub Enterprise</a></li>
                                <li><a href="https://whitewater.ibm.com/patterns/automated-testing-with-travis">Automated Testing with Travis CI</a></li>
                                <li><a href="http://semver.org/">Semantic Versioning</a></li>
                                <li><a href="developer-guide/bdd-with-cucumber">Behavior Driven Development with Cucumber</a></li>
                            </ul>
                            <p class="paragraphtitle">Cloud Engineering Guides</p>
                            <ul>
                                <li><a href="https://pages.github.ibm.com/CloudEngineering/service_contract/">Service Contract</a></li>
                                <li><a href="https://pages.github.ibm.com/CloudEngineering/builders_guide/">Cloud Builders Guide</a></li>
                                <li>
                                    <a href="https://pages.github.ibm.com/CloudEngineering/system_architecture/">System Architecture</a></li>
                            </ul>
                            <p class="paragraphtitle">Engineering Practices</p>
                            <ul>
                                <li><a href="developer-guide/delivering-code/">Delivering Code on GitHub Desktop</a></li>
                                <li><a href="developer-guide/delivering-code-command-line">Delivering Code on Command Line</a></li>
                                <li><a href="developer-guide/java-coding-style-guide">Java Style Guide</a></li>
                                <li><a href="developer-guide/scala-coding-style-guide">Scala Style Guide</a></li>
                                <li><a href="developer-guide/coding-standards-basics/">Python Style Guide</a></li>
                                <li><a href="developer-guide/coding-standards-basics/">JavaScript Style Guide</a></li>
                                <li><a href="developer-guide/legal-guidance">Legal Guidance</a></li>
                            </ul>
                            <p class="paragraphtitle">Security</p>
                            <ul>
                                <li><a href="developer-guide/secure-engineering">Secure Engineering</a></li>
                                <li><a href="developer-guide/source-code-security">Source Code Control</a></li>
                            </ul>
                            <p class="paragraphtitle">Site Relibility Engineering</p>
                            <ul>
                                <li><a href="site-reliability-engineering/sre-manifesto">SRE Manifesto</a></li>
                            </ul>
                        </div>
                        <!--- Column 2 Design Guild -->
                        <a name=design-guild-guide></a>
                        <div class="layout-column-child">
                            <p class="guild-guide subtitle" style="color:white;">Design Guild</p>
                            <p class="paragraphtitle">Watson Platform Guide</p>
                            <ul>
                                <li><a href="https://ibm.box.com/s/v8ak22gvqzu31bndgv0sl94vhv8p24kv">Watson Design Kit 2.0 (Requires Sketch)</a></li>
                                <li><a href="https://github.ibm.com/jsukis/WatsonDesignGuide/wiki/Getting-Started-with-Watson-Design">Getting Started with Watson Design</a></li>
                                <li><a href="https://w3-connections.ibm.com/wikis/home?lang=en#!/wiki/W9d6c1069a159_40a3_a3ec_187b00f55c3f/page/Watson%20Brand%20Center">Watson Brand Guidelines</a></li>
                                <li><a href="https://ibm.box.com/s/coxdo1ug1c62dq0v5hwedx28yjqs9s0w">Watson Archetypes</a></li>
                                <li><a href="watson-design-guide/portfolio-review/">2016 Portfolio Review</a></li>
                                <li><a href="watson-design-guide/competitors/">2017 Competitor Review</a></li>
                            </ul>
                            <p class="paragraphtitle">Cloud Design Guide</p>
                            <ul>
                                <li><a href="https://ibm.box.com/s/9yj5g744q70knpsde6dy8fx28jrxd3ar">Carbon Design System</a></li>
                                <li><a href="watson-design-guide/accessibility/">Accessibility Guidelines and Tools</a></li>
                            </ul>
                            <p class="paragraphtitle">Additional Practices
                                <p>
                                    <ul>
                                        <li><a href="https://www.ibm.com/design/thinking/" target="_new">IBM Design Thinking</a></li>
                                        <li><a href="http://experience-guides.w3ibm.mybluemix.net/design/guides/" target="_new">IBM wide Design Guides</a></li>
                                    </ul>
                        </div>
                        <!--- Column 3 OM Guild -->
                        <a name=product-guild-guide></a>
                        <div class="layout-column-child">
                            <p class="guild-guide subtitle" style="color:white;">OM Guild</p>
                            <p class="paragraphtitle">Watson Platform + Cloud Guide</p>
                            <ul>
                                <li><a href="http://calmedia.atlanta.ibm.com/om_academy/index.php" target="_blank">OM Academy</a></li>
                            </ul>
                            <p class="paragraphtitle">Creating New Product Offerings</p>
                            <ul>
                                <li><a href="agile/new-offering-definition/">New Product Offering Definition</a></li>
                                <li><a href="agile/ongoing-delivery/launch-readiness">Launch Readiness</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--- TOOLS AND RESOURCES -->
            <a name=tools-and-resources></a>
            <div class="section">
                <div class="section-child">
                    <p class="subtitle">Tools and Resources</p>
                    <div class="layout-column-container">
                        <!--- Column 1 IBM CIO Tooling -->
                        <div class="layout-column-child">
                            <p class="paragraphtitle">IBM CIO Tooling</p>
                            <ul>
                                <li><a href="onboarding/">Onboarding</a></li>
                                <li><a href="slack/">Slack</a></li>
                                <li><a href="tools#video">Video Conferencing</a></li>
                                <li><a href="github/">GitHub</a></li>
                                <li><a href="zenhub/">ZenHub</a></li>
                                <li><a href="box/">Box</a></li>
                                <li><a href="https://whitewater.ibm.com/tools/safari">Safari Books Online</a></li>
                                <li><a href="https://whitewater.ibm.com/tools/mural">Mural</a></li>
                                <li><a href="tools#invision">InVision (Pilot)</a></li>
                            </ul>
                        </div>
                        <!--- Column 2 Resources -->
                        <div class="layout-column-child">
                            <p class="paragraphtitle">Resources</p>
                            <ul>
                                <li><a href="resources/"> Career and Communities</a></li>
                                <li><a href="https://w3-connections.ibm.com/blogs/widp?lang=en" target="_blank">IBM Watson Agile Tools / Method / Culture Blog</a></li>
                                <li><a href="resources/hosting-events/">Hosting Events</a></li>
                                <li><a href="https://w3-01.sso.ibm.com/procurement/buyondemand/common/enUS/index.html">Buy On Demand</a></li>
                                <a href="departing-team-members/">Departing Team Members</a>
                            </ul>
                        </div>
                        <!--- Column 3 Watson and Cloud Platform Tooling -->
                        <div class="layout-column-child">
                            <p class="paragraphtitle">Watson and Cloud Platform Tooling</p>
                            <ul>
                                <li><a href="https://pages.github.ibm.com/TAAS/ToolsAsAService" target="_blank">Cloud Toolchain As A Service</a></li>
                                <li><a href="https://github.ibm.com/ghenkins-project/documentation/wiki" target="_blank">Ghenkins CI</a></li>
                                <li><a href="tools/">More Tools...</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--- More Content -->
            <div class="section more-content">
                <div class="section-child">
                    <div class="layout-column-container">
                        <div class="layout-column-child">
                            <ul>
                                <li><a href="onboarding">Onboarding</a></li>
                                <li><a href="https://ibm.app.box.com/v/WatsonBrandCenter/1/8019706805" target="_blank">Presentation Templates</a></li>
                                <li><a href="https://w3-connections.ibm.com/wikis/home?lang=en-us#!/wiki/W9d6c1069a159_40a3_a3ec_187b00f55c3f/page/Email%20Signature%20Template" target="_blank">Email Signatures</a></li>
                            </ul>
                        </div>
                        <div class="more-content-image"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    {% include 'components/_footer.html' %}
</body>

</html>